/********colors**********
** green: a9b758
** red: d86f74
************************/

/* just for template buttons */
#addHouseButton {
  display: none;
}

#addHouseText {
  display: none;
}

.whiteText {
  font-size: 14px;
  color: white;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
}

#openingText {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 30%;
}

#uniteButton {
  position: fixed;
  top: 50%;
  left:50%;
  margin-left: -50px;
}

#settingsContainer {
  background-color: #2d3231;
  border: 1px solid white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  width: 400px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.settingsInput {
  background-color: #2d3231;
  font-weight: bold;
}

.settingsInput:focus {
    outline:none;
}

#settingsTitle {
  float: left;
}

#closeSettings {
  display: block;
  text-align: right;
}

#closeSettings:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* sets background color, makes everything unselectable and sets the cursor to the pointer always */
#body {
  background-color: #212625;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

#mainScreen {
  font-weight: normal;
  height: 100%;
}

#title {
  width: 100%;
  height: 100px;
  position: relative;
  margin-bottom: 15px;
}

#villageNameContainer {
  position: absolute;
  font-size: 40px;
  float: left;
  font-weight: bold;
  bottom: 0;
  left: 0;
  letter-spacing: 3px;
}

#leaderNameContainer {
  position: absolute;
  font-size: 20px;
  float: right;
  text-align: right;
  bottom: 0;
  right: 0;
  letter-spacing: 1px;
  font-weight: bold;
}

#workspace {
  margin: auto;
  width: 900px;
  height: 100%;
}

#leftContainer {
  width: 650px;
}

#resourcesContainer {
  float: left;
  width: 220px;
}

#resources {
  width: 180px;
  padding: 9px;
  border: 1px solid white;
}

.totalResource {
  float: left;
}

.resourceRate {
  display: block;
  text-align: right;
}

#buttonsContainer {
  float: left;
  width: 430px;
}

#jobButtonsContainer {
  float: left;
  margin-right: 20px;
}

#buildButtonsContainer {
  float: left;
  width: 296px;
}

#notificationContainer {
  margin-top: 38px;
  text-align: right;
}

/* used for testing the cooldown function. not yet operational
.cooling {
  background-color: red !important;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 100px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}
*/

/*universal button plus hover and click and disable*/
.button {
  background-color: #212625;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 100px;
  color: white;
  font-family: 'Lora', serif;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  margin: 6px;
}

.button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.button:active {
  background-color: grey;
}

.disabled {
  pointer-events: none;
  border: 1px solid grey;
  color: grey;
}

.disabledLink {
  pointer-events: none;
}

.button.buildButton {
  display: inline-block;
}

.buildButtonText {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}

/* tooltips */
.button + .tooltip > .tooltip-inner {
  background-color: #35929e;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  color: white;
  font-family: 'Lora', serif;
  padding-top: 4px;
  -webkit-box-shadow: 0px 0px 5px  rgba(0, 0, 0, .2);
  box-shadow: 0px 0px 5px  rgba(0, 0, 0, .2);
}
.button + .tooltip.right > .tooltip-arrow {
   border-right: 5px solid #35929e;
 }

.tooltip {
  opacity: 1 !important;
}

/* increase tooltip size just for this button */
#addGathererButton + .tooltip > .tooltip-inner {
  width: 120px;
}

#metaLinks {
  position: fixed;
  padding:0px;
  bottom:0px;
  margin-bottom: 30px;
  text-align: right;
  width: 900px;
}

.metaLink {
  color: grey;
  text-decoration: none;
  padding-left: 12px;
}

.metaLink:hover {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

#citizenDistributionContainer {
  position: fixed;
  width:100%;
  padding:0px;
  bottom:0px;
  margin-right: 0px;
  margin-left: 0px;
}

#citizenDistributionProgress {
  font-family: 'Lora', serif;
  height: 20px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  font-weight: bold;
}

/* distribution for each citizen type in the top bar*/
.distributionSection {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  transition: width .3s ease;
}

#distributionHunters {
  background-color: #d86f74;
}

#distributionGatherers {
  background-color: #a9b758;
}

#distributionFarmers {
  background-color: #bca67a;
}

#distributionFree {
  background-color: grey;
}

#distributionMaxPop {
  background-color: white;
  color: black;
}
