.displayText {
  position: fixed;
  font-size: 14px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.sectionText {
  position: fixed;
  font-size: 14px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#openingText {
  text-align: center;
  font-size: 14px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  top: 30%;
}

.progressButton {
  background-color: red;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 0px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}

.progressButton:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.button {
  background-color: #2a363b;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 100px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}

.button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

#uniteButton {
  position: fixed;
  top: 50%;
  left:50%;
  margin-left: -50px;
}

#citizenDistributionContainer {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto
}

#citizenDistributionProgress {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

/* distribution for each citizen type*/
.distributionSection {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  transition: width .3s ease;
}

#distributionHunters {
  background-color: #d86f74;
}

#distributionGatherers {
  background-color: #a9b758;
}

#distributionFarmers {
  background-color: #bca67a;
}

#distributionFree {
  background-color: white;
  color: black;
}
